body { background: #9fbceb; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 37px; display: flex; }
.block-shipping-0 { color: #510506; font-size: 19px; margin-bottom: 5px; }
.block-logger-1 { color: #c633c2; font-size: 16px; margin-bottom: 5px; }
.block-config-2 { color: #45875e; font-size: 16px; margin-bottom: 5px; }
.block-uploader-3 { color: #7536cf; font-size: 13px; margin-bottom: 5px; }
.block-product-4 { color: #88988a; font-size: 13px; margin-bottom: 5px; }
.block-user-5 { color: #ccab91; font-size: 19px; margin-bottom: 5px; }
.block-sms-6 { color: #24a1b6; font-size: 15px; margin-bottom: 5px; }
.block-email-7 { color: #2210d5; font-size: 12px; margin-bottom: 5px; }
.block-helper-8 { color: #7413ff; font-size: 14px; margin-bottom: 5px; }
.block-filter-9 { color: #46cc60; font-size: 17px; margin-bottom: 5px; }
.block-logger-10 { color: #740fbc; font-size: 21px; margin-bottom: 5px; }